server:
  port: 8080

spring:
  application:
    name: user-service

  kafka:
    bootstrap-servers: ${KAFKA_BROKER:localhost:9092}
    topic:
      user-created-v1: user-created-v1
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:user-db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}


  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


  logging:
    level:
      org:
        apache:
          kafka: OFF
